<form ng-submit="registerCtrl.register(registerCtrl.user)">
  <div class="form-group">
    <label for="username">Nombre de usuario</label>
    <input id="username"
           type="text"
           class="form-control"
           placeholder="Escribe aquí tu nombre de usuario"
           ng-model="registerCtrl.user.username">
  </div>
  <div class="form-group">
    <label for="email">Correo electrónico</label>
    <input id="email"
           type="email"
           class="form-control"
           placeholder="Escribe aquí tu correo electrónico"
           ng-model="registerCtrl.user.email">
  </div>
  <div class="form-group">
    <label for="password">Contraseña</label>
    <input id="password"
           type="password"
           class="form-control"
           placeholder="Escribe aquí tu contraseña"
           ng-model="registerCtrl.user.password">
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirmar contraseña</label>
    <input id="confirmPassword"
           type="password"
           class="form-control"
           placeholder="Confirma aquí tu contraseña"
           ng-model="registerCtrl.user.confirmPassword">
  </div>
  <button class="btn btn-default">Enviar</button>
</form>
